$font-stack: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue",
              "Helvetica", "Arial", "Verdana", "sans-serif";

$background-color: #FAFAF8;
$chart-background-color: #F2F2F2;
$text-color: #455A64;
$nav-text-color: #7295A6;

$run-color: rgba(#7295a6, 0.7);
$run-text-color: #FAFAF8;

$slider-handle-1-border-color: #FF6384;
$slider-handle-2-border-color: #FFCE56;
$slider-handle-3-border-color: #36A2EB;
$slider-handle-color: white;



/*theme colors*/
/*yellow: #FCE18F*/
