$font-stack: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue",
              "Helvetica", "Arial", "Verdana", "sans-serif";

$background-color: #FAFAF8;
$chart-background-color: #F2F2F2;
$text-color: #455A64;
$nav-text-color: #7295A6;

$slider-color: #abe2fb;


/*theme colors*/
/*yellow: #FCE18F*/
