$font-stack: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

$background-color: #FAFAF8;
$text-color: #455A64;
$nav-text-color: #7295A6;

$slider-color: #abe2fb;


/*theme colors*/
/*yellow: #FCE18F*/
